apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./manifests/http-route.yaml

# generatorOptions:
#   disableNameSuffixHash: true
  
# configMapGenerator:
#   - name: mend-renovate-ce-config-js
#     files:
#       - ./manifests/config.js

generators:
  - ./manifests/secret-generator.yaml


helmCharts:
  - name: mend-renovate-ce
    repo: https://mend.github.io/renovate-ce-ee
    version: "12.1.0"
    releaseName: mend-renovate-ce
    namespace: renovate
    valuesFile: ./values.yaml

patches:
  - target:
      kind: Deployment
      name: mend-renovate-ce
    patch: |-
      - op: replace
        path: /spec/revisionHistoryLimit
        value: 3
