apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - ./manifests/secret-generator.yaml

resources:
  - ./manifests/http-route.yaml
  - ./manifests/mariadb.yaml

helmCharts:
  - name: uptime-kuma
    releaseName: uptime-kuma
    namespace: monitoring
    repo: https://helm.irsigler.cloud
    version: "2.24.0"
    valuesFile: values.yaml
