apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./manifests/http-route.yaml

replicas:
  - name: uptime-kuma
    count: 3

helmCharts:
  - name: uptime-kuma
    releaseName: uptime-kuma
    namespace: monitoring
    repo: https://helm.irsigler.cloud
    version: "2.24.0"
    valuesFile: values.yaml
