---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: garmin-fetch
  labels:
    app: garmin-fetch
spec:
  serviceName: garmin-fetch
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: garmin-fetch
  template:
    metadata:
      labels:
        app: garmin-fetch
    spec:
      initContainers:
        - name: fix-permissions
          image: busybox:1.37@sha256:e3652a00a2fabd16ce889f0aa32c38eec347b997e73bd09e69c962ec7f8732ee
          command: ["sh", "-c"]
          args:
            - |
              chown -R 1000:1000 /home/appuser/.garminconnect
              chmod -R 755 /home/appuser/.garminconnect
              echo "Applied permissions"
          volumeMounts:
            - mountPath: /home/appuser/.garminconnect
              name: garmin-data
          securityContext:
            runAsUser: 0
            runAsGroup: 0
        - name: wait-for-influxdb
          image: curlimages/curl:latest@sha256:463eaf6072688fe96ac64fa623fe73e1dbe25d8ad6c34404a669ad3ce1f104b6
          envFrom:
            - configMapRef:
                name: garmin-config
          command: ["sh", "-c"]
          args:
            - |
              echo "curling http://${INFLUXDB_HOST}:${INFLUXDB_PORT}"
              until curl -f http://$(INFLUXDB_HOST):$(INFLUXDB_PORT)/ping; do
                echo "Waiting for InfluxDB..."
                sleep 5
              done
              echo "InfluxDB is ready!"
      containers:
        - image: harbor.yanello.net/library/garmin-grafana:v0.3.1@sha256:3c53aa1106c45d0375e37efa42cc9ddabe5650462a14ce059dd182cada1ff377 # docker.io/thisisarpanghosh/garmin-fetch-data:v0.3.0@sha256:4aaebdee5fd15d602371c089fe28c76ae7ef0c1924335331a11424948e5711f5
          imagePullPolicy: IfNotPresent
          name: garmin-fetch
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
          # command: ["/bin/bash", "-c", "sleep inf"]
          env:
            - name: MANUAL_START_DATE
              value: "2024-01-01"
          envFrom:
            - secretRef:
                name: garmin-secrets
            - configMapRef:
                name: garmin-config
          volumeMounts:
            - mountPath: /home/appuser/.garminconnect
              name: garmin-data
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: garmin-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: longhorn
        resources:
          requests:
            storage: 10Mi
