---
rbac:
  additionalPermissions:
    - apiGroups: [""]
      resources: ["namespaces"]
      verbs: ["get", "watch", "list"]
    - apiGroups: ["gateway.networking.k8s.io"]
      resources:
        - "gateways"
        - "httproutes"
        - "grpcroutes"
        - "tlsroutes"
        - "tcproutes"
        - "udproutes"
      verbs: ["get", "watch", "list"]

provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/muhlba91/external-dns-provider-adguard
      tag: v11.0.2
    service:
      port: 8888
    livenessProbe:
      httpGet:
        path: /healthz
        port: 8080
      initialDelaySeconds: 10
      timeoutSeconds: 5
    readinessProbe:
      httpGet:
        path: /healthz
        port: 8080
      initialDelaySeconds: 10
      timeoutSeconds: 5
    env:
      - name: ADGUARD_URL
        valueFrom:
          secretKeyRef:
            name: provider-secrets
            key: adguardURL
      - name: ADGUARD_USER
        valueFrom:
          secretKeyRef:
            name: provider-secrets
            key: adguardUser
      - name: ADGUARD_PASSWORD
        valueFrom:
          secretKeyRef:
            name: provider-secrets
            key: adguardPassword
      - name: LOG_LEVEL
        value: debug
      - name: DRY_RUN
        value: "false"

tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
