apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-backup
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 8Gi
  storageClassName: truenas-ssd-nfs