---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rx-resume
spec:
  replicas: 1
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: rx-resume
  template:
    metadata:
      labels:
        app: rx-resume
    spec:
      containers:
        - name: rx-resume
          image: harbor.yanello.net/ghcr/amruthpillai/reactive-resume:v5.0.6@sha256:e286c647558b8f46d92e2145aff5ca9e2f8174ef3e89c72284dab0ff43fa03c0
          ports:
            - containerPort: 3010
          env:
            - name: APP_URL
              value: https://resume.yanello.net
            - name: PORT
              value: "3010"
            - name: PUBLIC_URL
              value: "https://resume.yanello.net"
            - name: PRINTER_ENDPOINT
              value: "http://$(PRINTER_SERVICE_HOST):$(PRINTER_SERVICE_PORT)"
            - name: PRINTER_APP_URL
              value: http://rx-resume:3010
            - name: FLAG_DISABLE_SIGNUPS
              value: "false"
            - name: FLAG_DEBUG_PRINT
              value: "true"
            - name: FLAG_DISABLE_EMAIL_AUTH
              value: "true"
            - name: STORAGE_ENDPOINT
              value: "s3.us-west-004.backblazeb2.com"
            - name: STORAGE_REGION
              value: "us-west-004"
            - name: STORAGE_BUCKET
              value: "myanello-rxresume"
            - name: STORAGE_USE_SSL
              value: "true"
            - name: SKIP_BUCKET_CHECK
              value: "false"
            - name: STORAGE_PORT
              value: "443"
            - name: STORAGE_URL
              value: "https://s3.us-west-004.backblazeb2.com/myanello-rxresume"
            - name: OAUTH_PROVIDER_NAME
              value: Authentik
            - name: OAUTH_DISCOVERY_URL
              value: https://authentik.yanello.net/application/o/rxr/.well-known/openid-configuration
            - name: DB_DATABASE_NAME
              value: postgres
            - name: DB_HOSTNAME
              value: postgres
            - name: DB_USERNAME
              value: postgres
          envFrom:
            - secretRef:
                name: resume-secrets
          resources:
            limits:
              memory: 2048Mi
            requests:
              cpu: 1000m
              memory: 2048Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: printer
spec:
  replicas: 1
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: printer
  template:
    metadata:
      labels:
        app: printer
    spec:
      containers:
        - name: printer
          image: harbor.yanello.net/docker/chromedp/headless-shell@sha256:478f1105d06e921d7652c18ecf6d1fc81d9bf3c484ef39562b8e7760d42d71a8
          ports:
            - containerPort: 9222
