---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rx-resume
spec:
  replicas: 1
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: rx-resume
  template:
    metadata:
      labels:
        app: rx-resume
    spec:
      containers:
      - name: rx-resume
        image: amruthpillai/reactive-resume:v4.4.6@sha256:53ce201e15d79535494d278fd13658f57d0331f2b5eba12163bf38b879366c65
        ports:
        - containerPort: 3010
        env:
        - name: PORT
          value: "3010"
        - name: PUBLIC_URL
          value: "https://resume.yanello.net"
        - name: CHROME_URL
          value: "ws://localhost:3000"
        - name: CHROME_TOKEN
          valueFrom:
            secretKeyRef:
              name: resume-secrets
              key: TOKEN
        - name: DISABLE_SIGNUPS
          value: "false"
        - name: DISABLE_EMAIL_AUTH
          value: "false"
        - name: STORAGE_ENDPOINT
          value: "minio.minio.svc.cluster.local"
        - name: STORAGE_REGION
          value: "homelab"
        - name: STORAGE_BUCKET
          value: "rxresume"
        - name: STORAGE_USE_SSL
          value: "false"
        - name: SKIP_BUCKET_CHECK
          value: "false"
        - name: STORAGE_PORT
          value: "80"
        - name: STORAGE_URL
          value: "https://minio.yanello.net/rxresume"
        envFrom:
          - secretRef:
              name: resume-secrets
          - configMapRef:
              name: resume-config
        # resources:
        #   limits:
        #     cpu: 1000m
        #     memory: 2048Mi
        #   requests:
        #     cpu: 1000m
        #     memory: 2048Mi

      - name: rx-chrome
        image: ghcr.io/browserless/chromium:v2.33.0@sha256:a7ef061130e593b2a8e03c3b1c379ef0cbca95f857ae532831d66ba6a933cd72
        ports:
        - containerPort: 3000
        env:
        - name: TIMEOUT
          value: "300000"
        - name: CONCURRENT
          value: "10"
        - name: TOKEN
          valueFrom:
            secretKeyRef:
              name: resume-secrets
              key: TOKEN
        - name: EXIT_ON_HEALTH_FAILURE
          value: "false"
        - name: PRE_REQUEST_HEALTH_CHECK
          value: "false"
        # resources:
        #   limits:
        #     cpu: 2000m
        #     memory: 4096Mi
        #   requests:
        #     cpu: 2000m
        #     memory: 4096Mi
