---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rx-resume
spec:
  replicas: 1
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: rx-resume
  template:
    metadata:
      labels:
        app: rx-resume
    spec:
      containers:
      - name: rx-resume
        image: harbor.yanello.net/docker/amruthpillai/reactive-resume:v4.5.5@sha256:f1b27f567b2a1b57fb6b2a81f7b9cec0af577b6be945820c1599a0a8b6b91f8b
        ports:
        - containerPort: 3010
        env:
        - name: PORT
          value: "3010"
        - name: PUBLIC_URL
          value: "https://resume.yanello.net"
        - name: CHROME_URL
          value: "ws://localhost:3000"
        - name: CHROME_TOKEN
          valueFrom:
            secretKeyRef:
              name: resume-secrets
              key: TOKEN
        - name: DISABLE_SIGNUPS
          value: "false"
        - name: DISABLE_EMAIL_AUTH
          value: "false"
        - name: STORAGE_ENDPOINT
          value: "https://s3.us-west-004.backblazeb2.com"
        - name: STORAGE_REGION
          value: "us-west-004"
        - name: STORAGE_BUCKET
          value: "myanello-rxresume"
        - name: STORAGE_USE_SSL
          value: "true"
        - name: SKIP_BUCKET_CHECK
          value: "false"
        - name: STORAGE_PORT
          value: "443"
        - name: STORAGE_URL
          value: "https://s3.us-west-004.backblazeb2.com"
        envFrom:
          - secretRef:
              name: resume-secrets
          - configMapRef:
              name: resume-config
        resources:
          limits:
            memory: 2048Mi
          requests:
            cpu: 1000m
            memory: 2048Mi
      - name: rx-chrome
        image: ghcr.io/browserless/chromium:v2.38.2@sha256:d5583d92f135c541667fca63bc7210cf51122c1317335374aa64b191fbaa0ef2
        ports:
        - containerPort: 3000
        env:
        - name: TIMEOUT
          value: "300000"
        - name: CONCURRENT
          value: "10"
        - name: TOKEN
          valueFrom:
            secretKeyRef:
              name: resume-secrets
              key: TOKEN
        - name: EXIT_ON_HEALTH_FAILURE
          value: "false"
        - name: PRE_REQUEST_HEALTH_CHECK
          value: "false"
        resources:
          limits:
            memory: 8192Mi
          requests:
            cpu: 500m
            memory: 4096Mi
