replicaCount: 1

nextcloud:
  host: nextcloudk8s.yanello.net
  existingSecret:
    enabled: true
    secretName: nextcloud-secrets
    usernameKey: NEXTCLOUD_ADMIN_USER
    passwordKey: NEXTCLOUD_ADMIN_PASSWORD
    smtpUsernameKey: SMTP_NAME
    smtpPasswordKey: SMTP_PASSWORD
    smtpHostKey: SMTP_HOST
  mail:
    enabled: true
    fromAddress: marcus
    domain: gmail.com
    smtp:
      port: 465
      secure: ssl
  trustedDomains:
    - nextcloud.yanello.net
  extraEnv:
    - name: TRUSTED_PROXIES
      value: 10.10.8.0
    - name: OVERWRITEPROTOCOL
      value: https
    - name: OVERWRITEHOST
      value: nextcloud.yanello.net
    - name: OVERWRITECLIURL
      value: https://nextcloud.yanello.net
    - name: APACHE_DISABLE_REWRITE_IP
      value: "1"
    - name: TRUSTED_PROXIES
      value: 10.42.0.0/16
    - name: FORWARDED_FOR_HEADERS
      value: HTTP_X_ENVOY_EXTERNAL_ADDRESS
  objectStore:
    s3:
      enabled: true
      region: "homelab"
      usePathStyle: true
      existingSecret: nextcloud-secrets
      secretKeys:
        host: s3-host
        accessKey: s3-access-key
        secretKey: s3-secret-key
        bucket: s3-bucket
  configs:
    other.config.php: |-
      <?php
      $CONFIG = array (
        'maintenance_window_start' => 9,
        'allow_local_remote_servers' => true,
      );

cronjob:
  enabled: true
redis:
  enabled: true
  global:
    storageClass: longhorn
  master:
    persistence:
      enabled: false
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - marcus-server
  replica:
    persistence:
      enabled: false
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - marcus-server

service:
  type: LoadBalancer
  loadBalancerIP: 10.10.8.6

internalDatabase:
  enabled: false

externalDatabase:
  enabled: true
  existingSecret:
    enabled: true
    secretName: nextcloud-secrets
    usernameKey: db-username
    passwordKey: mariadb-password

mariadb:
  enabled: true
  global:
    defaultStorageClass: longhorn-xfs
  primary:
    persistence:
      enabled: true
      storageClass: longhorn-xfs
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - marcus-server
  secondary:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - marcus-server
  auth:
    existingSecret: nextcloud-secrets
persistence:
  enabled: true
  storageClass: longhorn
  size: 1Gi
livenessProbe:
  enabled: false
startupProbe:
  enabled: false
readinessProbe:
  enabled: false
# affinity:
#   nodeAffinity:
#     requiredDuringSchedulingIgnoredDuringExecution:
#       nodeSelectorTerms:
#         - matchExpressions:
#             - key: kubernetes.io/hostname
#               operator: In
#               values:
#                 - marcus-server
