apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mealie
  name: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: mealie
    spec:
      containers:
        - image: harbor.yanello.net/ghcr/mealie-recipes/mealie:v3.9.0@sha256:455d94c4a0357154b17458b2ab71942f368b723860e7cee470a7678530fd5a80
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: '1000m'
              memory: 2Gi
            requests:
              cpu: 300m
              memory: 350Mi
          name: mealie
          env:
            - name: ALLOW_SIGNUP
              value: "true"
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: BASE_URL
              value: "https://recipes.yanello.net"
            - name: TZ
              value: "America/Chicago"
            - name: BASE_URL
              value: "https://recipes.yanello.net"
            - name: OIDC_AUTH_ENABLED
              value: "true"
            - name: OIDC_SIGNUP_ENABLED
              value: "true"
            - name: OIDC_REMEMBER_ME
              value: "true"
            - name: OIDC_PROVIDER_NAME
              value: "Authentik"
            - name: OIDC_USER_GROUP
              value: "users"
            - name: OIDC_ADMIN_GROUP
              value: "admin"
          envFrom:
            - secretRef:
                name: mealie-secrets
          ports:
            - containerPort: 9000
              protocol: TCP
          volumeMounts:
            - mountPath: /app/data
              name: storage
          readinessProbe:
            httpGet:
              path: /
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: /
              port: 9000
            initialDelaySeconds: 60
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 5
      restartPolicy: Always
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: storage
---