apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: postgres
  name: postgres
spec:
  replicas: 1
  serviceName: postgres
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
      annotations: 
        backup.velero.io/backup-volumes: pg-data
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - marcus-server
      containers:
        - image: ubuntu:latest #postgres:18@sha256:38d5c9d522037d8bf0864c9068e4df2f8a60127c6489ab06f98fdeda535560f9
          command: ["/bin/bash", "-c", "sleep", "inf"]
          resources:
            limits:
              cpu: 1000m
              memory: 1Gi
            requests:
              cpu: 500m
              memory: 200Mi
          name: postgres
          env:
            - name: PG_USER
              value: mealie
          envFrom:
            - secretRef:
                name: mealie-secrets
          ports:
            - containerPort: 5432
              protocol: TCP
          volumeMounts:
            - mountPath: /var/lib/postgresql/
              name: pg-data
            - name: old
              mountPath: /tmp
      volumes:
        - name: old
          hostPath:
            path: /zpool/k8s/mealie.bak
          # readinessProbe:
          #   exec:
          #     command:
          #     - sh
          #     - -c
          #     - pg_isready -U mealie -d mealie
          #   initialDelaySeconds: 5
          #   periodSeconds: 10
          #   timeoutSeconds: 5
          #   failureThreshold: 10
          # livenessProbe:
          #   exec:
          #     command:
          #     - sh
          #     - -c
          #     - pg_isready -U mealie -d mealie
          #   initialDelaySeconds: 30
          #   periodSeconds: 10
          #   timeoutSeconds: 5
          #   failureThreshold: 5
      restartPolicy: Always          
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: pg-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: truenas-ssd
        resources:
          requests:
            storage: 10Gi