apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/part-of: paperless
  name: paperless-env
data:
  USERMAP_UID: '1000'
  USERMAP_GID: '1000'
  PAPERLESS_URL: https://paperless.yanello.net
  PAPERLESS_PORT: '8000'
  PAPERLESS_TIME_ZONE: America/Chicago
  PAPERLESS_REDIS: redis://paperless-redis:6379
  PAPERLESS_DBHOST: paperless-db
  PAPERLESS_DBENGINE: mariadb
  PAPERLESS_DBPORT: '3306'
  PAPERLESS_CONSUMER_POLLING: '5'
  PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect