---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: paperless
  name: paperless
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: paperless
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: paperless
      annotations:
        backup.velero.io/backup-volumes: "export,media,data,consume"
    spec:
      containers:
        - image: harbor.yanello.net/ghcr/paperless-ngx/paperless-ngx:2.20.8@sha256:e231ec11a1907bfdf172b4f120b4ef1994feb71e6cc624e8b88c53e2da3dfb62
          imagePullPolicy: IfNotPresent
          name: paperless
          ports:
            - containerPort: 8000
              protocol: TCP
          env:
            - name: PAPERLESS_DBPASS
              valueFrom:
                secretKeyRef:
                  name: paperless-secrets
                  key: MARIADB_PASSWORD
          envFrom:
            - configMapRef:
                name: paperless-env
            - secretRef:
                name: paperless-secrets
          volumeMounts:
            - mountPath: /usr/src/paperless/data
              name: paperless-data
            - name: paperless-media
              mountPath: /usr/src/paperless/media
            - name: paperless-export
              mountPath: /usr/src/paperless/export
            - name: paperless-consume
              mountPath: /usr/src/paperless/consume
          resources:
            requests:
              cpu: 10m
              memory: 1000Mi
            limits:
              memory: 5000Mi
      restartPolicy: Always
      volumes:
        - name: paperless-data
          persistentVolumeClaim:
            claimName: paperless-data
        - name: paperless-media
          persistentVolumeClaim:
            claimName: paperless-media
        - name: paperless-export
          persistentVolumeClaim:
            claimName: paperless-export
        - name: paperless-consume
          persistentVolumeClaim:
            claimName: paperless-consume
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: db
  name: db
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: db
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: db
      annotations:
        backup.velero.io/backup-volumes: "mariadb"
    spec:
      containers:
        - image: harbor.yanello.net/docker/library/mariadb:12@sha256:b1cb255a9939d28a1856815f0de6046c20c28c21b92a9f2696bc782b247a47ee
          imagePullPolicy: IfNotPresent
          name: db
          ports:
            - containerPort: 3306
              protocol: TCP
          env:
            - name: MARIADB_HOST
              value: paperless
            - name: MARIADB_DATABASE
              value: paperless
            - name: MARIADB_USER
              value: paperless
          envFrom:
            - secretRef:
                name: paperless-secrets
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: mariadb
          resources:
            limits:
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 500Mi
      restartPolicy: Always
      volumes:
        - name: mariadb
          persistentVolumeClaim:
            claimName: mariadb
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: redis
  name: redis
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: redis
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - image: harbor.yanello.net/docker/library/redis:8@sha256:7b6fb55d8b0adcd77269dc52b3cfffe5f59ca5d43dec3c90dbe18aacce7942e1
          imagePullPolicy: IfNotPresent
          name: redis
          ports:
            - containerPort: 6379
              protocol: TCP
          volumeMounts:
            - mountPath: /data
              name: redis
          resources:
            limits:
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 500Mi
      restartPolicy: Always
      volumes:
        - name: redis
          persistentVolumeClaim:
            claimName: redis
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ai
  name: ai
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: ai
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: ai
    spec:
      containers:
        - image: harbor.yanello.net/docker/clusterzx/paperless-ai:3.0.9@sha256:2b65888163fd59716f1c8285b31c5bd0b30c9c3c192c42b516688e3887d4ba60
          imagePullPolicy: IfNotPresent
          name: ai
          env:
            - name: PUID
              value: "3000"
            - name: PGID
              value: "3000"
            - name: PAPERLESS_AI_PORT
              value: "3000"
            - name: RAG_SERVICE_URL
              value: http://localhost:8000
            - name: RAG_SERVICE_ENABLED
              value: "true"
            - name: PAPERLESS_API_URL
              value: http://paperless:8000/api
            - name: CUSTOM_BASE_URL
              value: https://openrouter.ai/api/v1
            - name: CUSTOM_MODEL
              value: google/gemini-3-flash-preview
            - name: SYSTEM_PROMPT
              value: >-
                `You are a personalized document analyzer. Your task is to analyze
                documents and extract relevant information.\n\nAnalyze the document
                content and extract the following information into a structured JSON
                object:\n\n1. title: Create a concise, meaningful title for the
                document\n2. correspondent: Identify the sender/institution but do
                not include addresses\n3. tags: Select up to 4 relevant thematic tags
                \n4. document_date: Extract the document date (format: YYYY-MM-DD)\n5.
                language: Determine the document language (e.g. "de" or
                "en")\n      \nImportant rules for the analysis:\n\nFor tags:\n- FIRST
                check the existing tags before suggesting new ones\n- Use only
                relevant categories\n- Maximum 4 tags per document, less if sufficient
                (at least 1)\n- Avoid generic or too specific tags\n- Use only
                the most important information for tag creation\n- The output language
                is the one used in the document! IMPORTANT!\n\nFor the title:\n-
                Short and concise, NO ADDRESSES\n- Contains the most important identification
                features\n- For invoices/orders, mention invoice/order
                number if available\n- The output language is the one used in the
                document! IMPORTANT!\n\nFor the correspondent:\n- Identify the sender
                or institution\n  When generating the correspondent, always create
                the shortest possible form of the company name (e.g. "Amazon" instead
                of "Amazon EU SARL, German branch")\n\nFor the document date:\n- Extract
                the date of the document\n- Use the format YYYY-MM-DD\n- If
                multiple dates are present, use the most relevant one\n\nFor the language:\n-
                Determine the document language\n- Use language codes like "en" for
                English\n- If the language is not clear, use "und" as a placeholder`
            # - name: PROCESS_PREDEFINED_DOCUMENTS
            #   value: true
            # - name: TAGS
            #   value: pre-process
            - name: ADD_AI_PROCESSED_TAG
              value: "yes"
            - name: ACTIVATE_TAGGING
              value: "yes"
            - name: ACTIVATE_CORRESPONDENTS
              value: "yes"
            - name: ACTIVATE_TITLE
              value: "yes"
            - name: ACTIVATE_DOCUMENT_TYPE
              value: "yes"
          envFrom:
            - secretRef:
                name: ai-secrets
          ports:
            - containerPort: 3000
              protocol: TCP
          volumeMounts:
            - mountPath: /app/data
              name: data
          resources:
            limits:
              memory: 8Gi
            requests:
              cpu: 100m
              memory: 500Mi
      restartPolicy: Always
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: ai-data
