apiVersion: v1
kind: Service
metadata:
  labels:
    app: paperless
  name: paperless
spec:
  ports:
    - name: "http"
      port: 8000
      targetPort: 8000
  selector:
    app: paperless
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: db
  name: db
spec:
  ports:
    - name: "mariadb"
      port: 3306
      targetPort: 3306
  selector:
    app: db
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: redis
  name: redis
spec:
  ports:
    - name: "redis"
      port: 6379
      targetPort: 6379
  selector:
    app: redis
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: ai
  name: ai
spec:
  ports:
    - name: ai
      port: 3000
      targetPort: 3000
  selector:
    app: ai
