---
database:
  podAnnoations:
    backup.velero.io/backup-volumes: database-data
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

redis:
  podAnnotations:
    backup.velero.io/backup-volumes: data
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
existingSecretAdminPassword: harbor-secrets

expose:
  tls:
    enabled: false
  type: route
  route:
    parentRefs:
      - name: cilium-private-gateway
        group: gateway.networking.k8s.io
        kind: Gateway
        namespace: cilium
        sectionName: https
    hosts:
      - harbor-dev.yanello.net
externalURL: https://harbor-dev.yanello.net

persistence:
  persistentVolumeClaim:
    registry:
      storageClass: truenas-hdd
      size: 1Gi
    chartmuseum:
      storageClass: truenas-hdd
    jobservice:
      jobLog:
        storageClass: truenas-hdd-nfs
        accessMode: ReadWriteMany
    database:
      storageClass: truenas-ssd
    redis:
      storageClass: truenas-ssd
    trivy:
      storageClass: truenas-hdd

cache:
  enabled: true

portal:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

core:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

jobservice:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

registry:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

exporter:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
