apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# kubectl exec -it nextcloud -- su -s /bin/sh www-data -c "php"
resources:
  - ./manifests/cm.yaml
  - ./manifests/http-route.yaml

replicas:
  - name: nextcloud
    count: 0

generators:
  - ./manifests/secret-generator.yaml

helmCharts:
  - name: nextcloud
    repo: https://nextcloud.github.io/helm/
    version: 8.9.1
    releaseName: nextcloud
    namespace: nextcloud
    valuesFile: ./values.yaml
