apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# kubectl exec -it nextcloud -- su -s /bin/sh www-data -c "php"
resources:
  - ./manifests/cm.yaml
  - ./manifests/http-route.yaml
  - ./manifests/ns.yaml

patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: StatefulSet
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

generators:
  - ./manifests/secret-generator.yaml

helmCharts:
  - name: nextcloud
    repo: https://nextcloud.github.io/helm/
    version: "8.5.2"
    releaseName: nextcloud
    namespace: nextcloud
    valuesFile: ./values.yaml

images:
  - name: nextcloud
    newTag: 32.0.1@sha256:5b043f7ea2f609d5ff5635f475c30d303bec17775a5c3f7fa435e3818e669120
  - name: docker.io/bitnamilegacy/mariadb
    newTag: "12.0@sha256:888cdaae3cb996c4d28f7916106511de553545929957dd1d35221112df631e19"
