apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# kubectl exec -it nextcloud -- su -s /bin/sh www-data -c "php"
resources:
  - ./manifests/cm.yaml
  - ./manifests/http-route.yaml
  - ./manifests/ns.yaml

patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: StatefulSet
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

generators:
  - ./manifests/secret-generator.yaml

helmCharts:
  - name: nextcloud
    repo: https://nextcloud.github.io/helm/
    version: "8.6.0"
    releaseName: nextcloud
    namespace: nextcloud
    valuesFile: ./values.yaml

images:
  - name: nextcloud
    newTag: 32.0.3@sha256:54993ed39dc77f7a6ade142b1625972cb7a9393074325373402d47231314afbb
  - name: docker.io/library/mariadb
    newTag: "12.1@sha256:e1bcd6f85781f4a875abefb11c4166c1d79e4237c23de597bf0df81fec225b40"
