apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# kubectl exec -it nextcloud -- su -s /bin/sh www-data -c "php"
resources:
  - ./manifests/cm.yaml
  - ./manifests/http-route.yaml

patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: StatefulSet
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

generators:
  - ./manifests/secret-generator.yaml

helmCharts:
  - name: nextcloud
    repo: https://nextcloud.github.io/helm/
    version: 8.7.0
    releaseName: nextcloud
    namespace: nextcloud
    valuesFile: ./values.yaml
