http-server default {
    bind "0.0.0.0:8080"
    use handler-from=default
}

declare-handler default language=roto {
  sources {
    training-corpus "/opt/iocaine/share/data/1984.txt" \
                    "/opt/iocaine/share/data/brave-new-world.txt"
    wordlists "/opt/iocaine/share/data/words.txt"
  }
  ai-robots-txt-path "/opt/iocaine/share/data/ai.robots.txt-robots.json"
}
