apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: iocaine
  labels:
    app: iocaine
spec:
  serviceName: "iocaine"
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: iocaine
  template:
    metadata:
      labels:
        app: iocaine
    spec:
      initContainers:
        - name: pull-data
          image: harbor.yanello.net/docker/curlimages/curl:8.17.0@sha256:935d9100e9ba842cdb060de42472c7ca90cfe9a7c96e4dacb55e79e560b3ff40
          securityContext:
            runAsUser: 0
          command:
            - "/bin/sh"
            - "-c"
            - |
              cd /opt/iocaine/share/data
              echo "Checking for existing data files..."
  
              if [ ! -f "1984.txt" ]; then
                echo "Downloading 1984.txt..."
                curl -s -L https://archive.org/download/GeorgeOrwells1984/1984_djvu.txt -o 1984.txt
              else
                echo "1984.txt already exists, skipping download."
              fi
  
              if [ ! -f "brave-new-world.txt" ]; then
                echo "Downloading brave-new-world.txt..."
                curl -s -L https://archive.org/download/ost-english-brave_new_world_aldous_huxley/Brave_New_World_Aldous_Huxley_djvu.txt -o brave-new-world.txt
              else
                echo "brave-new-world.txt already exists, skipping download."
              fi
  
              if [ ! -f "words.txt" ]; then
                echo "Downloading words.txt..."
                curl -s -L https://git.savannah.gnu.org/cgit/miscfiles.git/plain/web2 -o words.txt
              else
                echo "words.txt already exists, skipping download."
              fi
  
              if [ ! -f "ai.robots.txt-robots.json" ]; then
                echo "Downloading ai.robots.txt-robots.json..."
                curl -s -L https://github.com/ai-robots-txt/ai.robots.txt/raw/refs/heads/main/robots.json -o ai.robots.txt-robots.json
              else
                echo "ai.robots.txt-robots.json already exists, skipping download."
              fi
  
              echo "Data initialization complete."
          volumeMounts:
            - name: iocaine-persistent
              mountPath: /opt/iocaine/share/data/
      containers:
        - name: iocaine
          image: harbor.yanello.net/madhouse/iocaine/iocaine:3.0.1@sha256:269401bd027c5004be5dfb24bb001f01689ebb4272e33b7ff8bd571b57cae816
          command: ["iocaine"]
          args: ["-c", "/etc/iocaine/config.kdl"]
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8181
              protocol: TCP
          imagePullPolicy: Always
          resources:
            requests:
              memory: 50Mi
              cpu: 100m
            limits:
              memory: 200Mi
              cpu: "1"
          volumeMounts:
            - name: config
              mountPath: /etc/iocaine/config.kdl
              subPath: config.kdl
            - name: iocaine-persistent
              mountPath: /opt/iocaine/share/data/
      volumes:
        - name: config
          configMap:
            name: config
  volumeClaimTemplates:
    - metadata:
        name: iocaine-persistent
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: "longhorn-xfs"
        resources:
          requests:
            storage: 1Gi
