apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - ./secret-generator.yaml

# resources:
  # - ./http-route.yaml

helmCharts:
  - name: harbor
    namespace: harbor
    releaseName: harbor
    repo: https://helm.goharbor.io
    version: "1.18.2"
    valuesFile: 
      ./values.yaml
