apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - ./secret-generator.yaml

helmCharts:
  - name: harbor
    namespace: harbor
    releaseName: harbor
    repo: https://helm.goharbor.io
    version: "1.18.1"
    valuesInline:
      database:
        podAnnoations:
          backup.velero.io/backup-volumes: database-data
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
      redis:
        podAnnotations:
          backup.velero.io/backup-volumes: data
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
      existingSecretAdminPassword: harbor-secrets
      expose:
        type: route
        tls:
          enabled: false
        route:
          parentRefs:
            - name: cilium-private-gateway
              group: gateway.networking.k8s.io
              kind: Gateway
              namespace: cilium
              sectionName: https
          hosts:
            - harbor.yanello.net
      externalURL: https://harbor.yanello.net
      persistence:
        persistentVolumeClaim:
          registry:
            storageClass: truenas-hdd
            size: 100Gi
          chartmuseum:
            storageClass: truenas-hdd
          jobservice:
            jobLog:
              storageClass: truenas-hdd-nfs
              accessMode: ReadWriteMany
          database:
            storageClass: truenas-ssd
          redis:
            storageClass: truenas-ssd
          trivy:
            storageClass: truenas-hdd
      cache:
        enabled: true
      portal:
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
      core:
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
      jobservice:
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
      registry:
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
      exporter:
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
