apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
- ./manifests/secret-generator.yaml

patches:
- target:
    kind: Deployment
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1

resources:
- manifests/cm.yaml
- manifests/deploy.yaml
- manifests/pvc.yaml
- manifests/service.yaml
#- manifests/sts.yaml
- manifests/http-route.yaml