affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - marcus-server
resources:
  limits:
    nvidia.com/gpu: "1"
    memory: 8Gi
  requests:
    nvidia.com/gpu: "1"
    cpu: "1"
    memory: 1Gi
