---
replicaCount: 1

gitea:
  admin:
    existingSecret: gitea-secrets
  oauth:
    - name: "Authentik"
      provider: openidConnect
      existingSecret: gitea-secrets
      autoDiscoverUrl: https://authentik.yanello.net/application/o/gitea/.well-known/openid-configuration
      iconUrl: "https://goauthentik.io/img/icon.png"
      scopes: "email profile gitea"
  config:
    server:
      ROOT_URL: https://gitea.yanello.net/
      ENABLE_AUTO_REGISTRATION: "true"
      DOMAIN: "gitea.yanello.net"
  additionalConfigFromEnvs:
    - name: GITEA__ENABLE_AUTO_REGISTRATION
      value: "true"

metrics:
  enabled: true

valkey-cluster:
  enabled: false
valkey:
  enabled: true
  persistence:
    storageClass: truenas-ssd
  image:
    repository: bitnamilegacy/valkey
    tag: 8.1.3-debian-12-r3@sha256:4f0191fba7d3ffc38362381fa0ecac3c570dac56621278bcda513b477c8308c4
  master:
    count: 1

postgresql-ha:
  enabled: false

postgresql:
  enabled: true
  image:
    repository: bitnamilegacy/postgresql
    tag: 17.6.0-debian-12-r4@sha256:926356130b77d5742d8ce605b258d35db9b62f2f8fd1601f9dbaef0c8a710a8d
  global:
    postgresql:
      auth:
        password: gitea
        database: gitea
        username: gitea
      service:
        ports:
          postgresql: 5432
  primary:
    persistence:
      storageClass: truenas-ssd
      size: 10Gi
