---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - ./manifests/secret-generator.yaml

resources:
  - ./manifests/health-check.yaml
  - ./manifests/http-route.yaml
  - ./manifests/cert.yaml

patches:
  - path: ./manifests/health-check-patch.yaml

helmCharts:
  - name: frigate
    repo: https://blakeblackshear.github.io/blakeshome-charts/
    version: "7.8.0"
    releaseName: frigate
    namespace: frigate
    valuesFile: ./manifests/values.yaml
