apiVersion: apps/v1
kind: Deployment
metadata:
  name: dawarich-sidekiq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dawarich-sidekiq
  template:
    metadata:
      labels:
        app: dawarich-sidekiq
    spec:
      containers:
        - name: sidekiq
          image: docker.io/freikin/dawarich:latest@sha256:660d55f9309f63ad259e021c3e6817245200d5faf2cc44e3b5c7fcef0c79e09d
          command: ["sidekiq-entrypoint.sh"]
          args: ["sidekiq"]
          envFrom:
            - configMapRef:
                name: sidekiq-config
            - configMapRef:
                name: shared-config
          env:
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dawarich-secrets
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: public
              mountPath: /var/app/public
            - name: watched
              mountPath: /var/app/tmp/imports/watched
            - name: storage
              mountPath: /var/app/storage
          livenessProbe:
            exec:
              command: ["pgrep", "-f", "sidekiq"]
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 30
          readinessProbe:
            exec:
              command: ["pgrep", "-f", "sidekiq"]
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 30
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "2Gi"
              cpu: "500m"
          stdin: true
          tty: true
      volumes:
        - name: public
          persistentVolumeClaim:
            claimName: dawarich-public
        - name: watched
          persistentVolumeClaim:
            claimName: dawarich-watched
        - name: storage
          persistentVolumeClaim:
            claimName: dawarich-storage
      restartPolicy: Always
