apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - manifests/http-route.yaml
  - manifests/bw-sync.yaml

generators:
  - manifests/secret-generator.yaml

patches:
  - target:
      kind: StatefulSet
      name: vaultwarden
    patch: |-
      - op: add
        path: /spec/template/metadata/annotations
        value: 
          backup.velero.io/backup-volumes: vaultwarden-data-vaultwarden-0

helmCharts:
    - name: vaultwarden
      repo: https://guerzon.github.io/vaultwarden
      version: "0.34.4"
      releaseName: vaultwarden
      namespace: vaultwarden
      valuesFile: ./values.yaml
