apiVersion: v1
kind: ConfigMap
metadata:
  name: immich-config
data:
  DB_HOSTNAME: postgres
  DB_DATABASE_NAME: immich
  DB_USERNAME: marcus
  REDIS_HOSTNAME: "redis"
  REDIS_PORT: "6379"
  MACHINE_LEARNING_PRELOAD__CLIP: "ViT-L-16-SigLIP-256__webli"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-server
  labels:
    app: immich-server
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: immich-server
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: immich-server
    spec:
      runtimeClassName: nvidia
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - marcus-server
      containers:
        - name: immich-server
          envFrom:
            - configMapRef:
                name: immich-config
            - secretRef:
                name: immich-secrets
          image: harbor.yanello.net/ghcr-cache/immich-app/immich-server:v2.2.1
          ports:
            - containerPort: 2283
              protocol: TCP
            - containerPort: 3000
              protocol: TCP
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              nvidia.com/gpu: "1"
              memory: 500Mi
              cpu: 100m
            limits:
              nvidia.com/gpu: "1"
              memory: 4Gi
              cpu: "4"
          volumeMounts:
            - name: photos
              mountPath: /usr/src/app/upload
            - name: photo-frame
              mountPath: /usr/src/app/photo-frame
      volumes:
        - name: photos
          hostPath:
            path: /zpool/Photos/immich
        - name: photo-frame
          persistentVolumeClaim:
            claimName: photo-frame
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-machine-learning
  labels:
    app: immich-machine-learning
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: immich-machine-learning
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: immich-machine-learning
    spec:
      runtimeClassName: nvidia
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - marcus-server
      containers:
        - name: immich-machine-learning
          envFrom:
            - configMapRef:
                name: immich-config
            - secretRef:
                name: immich-secrets
          image: harbor.yanello.net/ghcr-cache/immich-app/immich-machine-learning:v2.2.1-cuda
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: photos
              mountPath: /usr/src/app/upload
            - name: model-cache
              mountPath: /cache
          resources:
            requests:
              nvidia.com/gpu: "1"
              memory: "2Gi"
              cpu: 50m
            limits:
              nvidia.com/gpu: "1"
              memory: "4Gi"
              cpu: 100m
      volumes:
        - name: photos
          hostPath:
            path: /zpool/Photos/immich
        - name: model-cache
          hostPath:
            path: /zpool/k8s/immich/model-cache
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: redis
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: redis
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - image: harbor.yanello.net/docker-hub-cache/valkey/valkey:8-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
          imagePullPolicy: IfNotPresent
          name: redis
          ports:
            - containerPort: 6379
              protocol: TCP
          resources:
            requests:
              memory: 10Mi
              cpu: 30m
            limits:
              memory: 50Mi
              cpu: 100m
---

