---
apiVersion: cilium.io/v2
kind: CiliumLoadBalancerIPPool
metadata:
  name: pool
spec:
  disabled: false
  blocks:
    - cidr: 10.10.8.0/22
---
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPClusterConfig
metadata:
  name: bgp-cluster-config
spec:
  nodeSelector:
    matchLabels: {}
  bgpInstances:
    - name: main
      localASN: 64512
      peers:
        - name: opnsense-router
          peerAddress: 192.168.10.1
          peerConfigRef:
            name: opnsense-router
---
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPPeerConfig
metadata:
  name: opnsense-router
spec:
  transport:
    peerPort: 179
  timers:
    connectRetryTimeSeconds: 120
    holdTimeSeconds: 90
    keepAliveTimeSeconds: 30
  gracefulRestart:
    enabled: true
    restartTimeSeconds: 12
  ebgpMultihop: 10
  families:
    - afi: ipv4
      safi: unicast
      advertisements:
        matchLabels:
          advertise: loadbalancer
---
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPAdvertisement
metadata:
  name: loadbalancer-advertisement
  labels:
    advertise: loadbalancer
spec:
  advertisements:
    - advertisementType: Service
      service:
        addresses:
          - LoadBalancerIP
      selector:
        matchExpressions:
          - key: io.cilium/bgp-announce
            operator: NotIn
            values: [fakevalue]
