---
tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
domain: "https://bitwarden.yanello.net"
signupsAllowed: false
replicas: 1
storage:
  data:
    name: vaultwarden-data
    size: 15Gi
    class: nfs-storage
    keepPvc: true
    accessMode: ReadWriteMany
  attachments:
    name: vaultwarden-data
    keepPvc: true
    accessMode: ReadWriteMany
    size: 15Gi
    class: nfs-storage
adminToken:
  existingSecret: vw-admin-secret
  existingSecretKey: adminToken
resources:
  limits:
    memory: 200Mi
  requests:
    cpu: 20m
    memory: 100Mi
