apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- manifests/deploy.yaml
- manifests/service.yaml
- manifests/http-route.yaml

generators:
- manifests/secret-generator.yaml

patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
  target:
    kind: Deployment
