---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: qbittorrent
  name: qbittorrent
spec:
  selector:
    matchLabels:
      app: qbittorrent
  replicas: 1
  revisionHistoryLimit: 3
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - marcus-server
      containers:
        - name: qbittorrent
          env:
            - name: PGID
              value: "3000"
            - name: PUID
              value: "3000"
          image: lscr.io/linuxserver/qbittorrent:5.1.2-r3-ls422@sha256:098d4340c0709a9ddbc7010ca21900238388454e20182d52b9723b40a2a44293
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "1Gi"
              cpu: 50m
            limits:
              memory: "6Gi"
          ports:
            - name: qbit-webui
              containerPort: 8080
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: data
            - mountPath: /data/media/torrents
              name: torrents
            # - mountPath: /tmp/config
            #   name: truenas
          # startupProbe:
          #   httpGet:
          #     scheme: HTTP
          #     path: /health
          #     port: 8080
          #   initialDelaySeconds: 30
          #   periodSeconds: 30
          #   timeoutSeconds: 5
          #   failureThreshold: 20
          # livenessProbe:
          #   httpGet:
          #     scheme: HTTP
          #     path: /health
          #     port: 8080
          #   initialDelaySeconds: 60
          #   periodSeconds: 30
          #   timeoutSeconds: 5
          #   failureThreshold: 10
      initContainers:
        - name: gluetun
          image: "ghcr.io/qdm12/gluetun:v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045"
          restartPolicy: Always
          imagePullPolicy: IfNotPresent
          lifecycle:
            postStart:
              exec:
                command: ["/bin/sh", "-c", "(ip rule del table 51820; ip -6 rule del\
                      \ table 51820) || true"]
          ports:
            - name: http-proxy
              containerPort: 8888
              protocol: TCP
            - name: tcp-shadowsocks
              containerPort: 8388
              protocol: TCP
            - name: udp-shadowsocks
              containerPort: 8388
              protocol: UDP
            - name: qbit-http
              containerPort: 8080
              protocol: TCP
          envFrom:
            - secretRef:
                name: vpn-secrets
          env:
            - name: TZ
              value: "America/Chicago"
            - name: FIREWALL_INPUT_PORTS
              value: "8080"
            - name: VPN_SERVICE_PROVIDER
              value: custom
            - name: VPN_TYPE
              value: wireguard
            - name: VPN_PORT_FORWARDING
              value: "on"
            - name: VPN_PORT_FORWARDING_PROVIDER
              value: protonvpn
            - name: FIREWALL_DEBUG
              value: "on"
            - name: VPN_PORT_FORWARDING_UP_COMMAND
              value: /bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{PORTS}}}"
                http://localhost:8080/api/v2/app/setPreferences'
            - name: DOT
              value: "off"
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
          startupProbe:
            exec:
              command: ["/gluetun-entrypoint", "healthcheck"]
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          livenessProbe:
            exec:
              command: ["/gluetun-entrypoint", "healthcheck"]
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
      volumes:
        - name: torrents
          hostPath:
            path: /data/media/torrents
        - name: data
          persistentVolumeClaim:
            claimName: data
