apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - ./manifests/secretGenerator.yaml

resources:
  - ./manifests/route.yaml
  - ./manifests/pki.yaml
  - ./manifests/clusterSecretStore.yaml

helmCharts:
  - name: vault
    repo: https://helm.releases.hashicorp.com
    version: "0.30.0"
    releaseName: vault
    namespace: vault
    valuesFile: ./values.yaml