global:
  resources:
    requests:
      memory: 256Mi
      cpu: 250m
    limits:
      memory: 512Mi
      cpu: 500m
  tlsDisable: false
server:
  hostNetwork: false
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
  standalone:
    enabled: false
  extraEnvironmentVars:
    VAULT_CACERT: /vault/userconfig/vault-tls/ca.crt
  extraSecretEnvironmentVars:
    - envName: VAULT_OCIKMS_CRYPTO_ENDPOINT
      secretName: oci-env-vars
      secretKey: VAULT_OCIKMS_CRYPTO_ENDPOINT
    - envName: VAULT_OCIKMS_MANAGEMENT_ENDPOINT
      secretName: oci-env-vars
      secretKey: VAULT_OCIKMS_MANAGEMENT_ENDPOINT
    - envName: VAULT_OCIKMS_SEAL_KEY_ID
      secretName: oci-env-vars
      secretKey: VAULT_OCIKMS_SEAL_KEY_ID
  extraVolumes:
    - type: secret
      name: vault-tls
    - type: secret
      name: vault-letsencrypt
  volumes:
    - secret: 
        secretName: oci-config
      name: oci-config
  volumeMounts:
    - mountPath: /home/vault/.oci
      name: oci-config

  ha:
    enabled: true
    replicas: 3
    raft:
      enabled: true
      setNodeId: true
      config: |
        ui = true
        cluster_name = "vault-integrated-storage"
        listener "tcp" {
          address = "[::]:8202"
          cluster_address = "[::]:8203"
          tls_cert_file = "/vault/userconfig/vault-letsencrypt/tls.crt"
          tls_key_file = "/vault/userconfig/vault-letsencrypt/tls.key"
        }
        
        listener "tcp" {
          address = "[::]:8200"
          cluster_address = "[::]:8201"
          tls_cert_file = "/vault/userconfig/vault-tls/tls.crt"
          tls_key_file = "/vault/userconfig/vault-tls/tls.key"
        }
        
        storage "raft" {
          path = "/vault/data"
          retry_join {
            leader_api_addr = "https://vault-active:8200"
            leader_ca_cert_file = "/vault/userconfig/vault-tls/ca.crt"
            leader_client_cert_file = "/vault/userconfig/vault-tls/tls.crt"
            leader_client_key_file = "/vault/userconfig/vault-tls/tls.key"
          }
        } 
        seal "ocikms" {
          auth_type_api_key = "true"
        }
  readinessProbe:
    enabled: true
    path: "/v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204"
  livenessProbe:
    enabled: true
    path: "/v1/sys/health?standbyok=true"
    initialDelaySeconds: 60
  auditStorage:
    enabled: true
ui:
  enabled: true
  serviceType: "ClusterIP"
  externalPort: 8202
  targetPort: 8202