apiVersion: apps/v1
kind: Deployment
metadata:
  name: epic-games
  labels:
    app: epic-games
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: epic-games
  template:
    metadata:
      labels:
        app: epic-games
    spec:
      containers:
        - name: epic-games
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              protocol: TCP
              name: http
          image: ghcr.io/claabs/epicgames-freegames-node:debian@sha256:1cf793384ba328e69398ce02382fd0432b41a5a862f1d4e4a9a94f3fd74c32db
          volumeMounts:
            - mountPath: /usr/app/config/config.json5
              name: config
              subPath: config
          resources:
            limits:
              cpu: 100m
              memory: 1Gi
            requests:
              cpu: 1m
              memory: 300Mi
      volumes:
        - name: config
          secret:
            secretName: epic-games-config
