apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - secret-generator.yaml

resources:
  - http-route.yaml

helmCharts:
  - name: lubelogger
    namespace: lubelogger
    releaseName: lubelogger
    repo: https://anza-labs.github.io/charts
    version: "1.4.2"
    valuesFile: values.yaml
