apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - secret-generator.yaml

resources:
  - http-route.yaml

helmCharts:
  - name: lubelogger
    namespace: lubelogger
    releaseName: lubelogger
    repo: https://anza-labs.github.io/charts
    version: "1.4.1"
    valuesInline:
      config:
        userConfig:
          UseDarkMode: true
      updateStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 100%
          partition: 0
      persistence:
        data:
          enabled: true
          storageClass: truenas-hdd-nfs
          accessMode: ReadWriteMany
      secret:
        create: false
        name: lube-secrets
      oidc:
        enabled: true
        name: lube-secrets
      