apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mariadb
  name: mariadb
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: mariadb
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - image: harbor.yanello.net/docker/library/mariadb:12.1.2
          imagePullPolicy: IfNotPresent
          name: db
          ports:
            - containerPort: 3306
              protocol: TCP
          env:
            - name: MARIADB_HOST
              value: mariadb
            - name: MARIADB_DATABASE
              value: kuma
            - name: MARIADB_USER
              value: kuma
          envFrom:
            - secretRef:
                name: mariadb-secrets
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: mariadb
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              memory: 500Mi
      restartPolicy: Always
      volumes:
        - name: mariadb
          persistentVolumeClaim:
            claimName: mariadb
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb
spec:
  storageClassName: truenas-ssd-nfs
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: mariadb
  name: mariadb
spec:
  ports:
    - name: mariadb
      port: 3306
      targetPort: 3306
  selector:
    app: mariadb