apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - manifests/resources.yaml

helmCharts:
  - name: metallb
    repo: https://metallb.github.io/metallb
    version: "0.15.3"
    releaseName: metallb
    namespace: metallb
    valuesFile: ./values.yaml
    
patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 0
  - target:
      kind: StatefulSet
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 0
  - target:
      kind: DaemonSet
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 0
