---
provider:
  name: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: provider-secrets
        key: cloudflareAPIKey
rbac:
  additionalPermissions:
    - apiGroups: [""]
      resources: ["namespaces"]
      verbs: ["get", "watch", "list"]
    - apiGroups: ["gateway.networking.k8s.io"]
      resources:
        - "gateways"
        - "httproutes"
        - "grpcroutes"
        - "tlsroutes"
        - "tcproutes"
        - "udproutes"
      verbs: ["get", "watch", "list"]

tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
