---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: bentopdf
  name: bentopdf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bentopdf
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: bentopdf
    spec:
      containers:
        - image: harbor.yanello.net/ghcr/alam00000/bentopdf:v2.2.1@sha256:b123f74921c079fb2be8a5a04eb576ab542d4a551bc26b291173580b7d037968
          imagePullPolicy: IfNotPresent
          name: bentopdf
          resources:
            limits:
              memory: 500Mi
            requests:
              cpu: 25m
              memory: 50Mi
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: 8000
          #   initialDelaySeconds: 30
          #   periodSeconds: 10
          #   timeoutSeconds: 5
          #   failureThreshold: 3
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: 8000
          #   initialDelaySeconds: 60
          #   periodSeconds: 15
          #   timeoutSeconds: 5
          #   failureThreshold: 3
      restartPolicy: Always
