apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config
spec:
  storageClassName: truenas-ssd-nfs
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: assets
spec:
  storageClassName: truenas-hdd-nfs
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
