apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./manifests/certificate.yaml
  - ./manifests/secretstore.yaml
  - ./manifests/rbac.yaml

generators:
  - ./manifests/secret-generator.yaml

helmCharts:
  - name: external-secrets
    releaseName: external-secrets
    namespace: esops
    repo: https://charts.external-secrets.io
    version: 0.20.4
    valuesInline:
      bitwarden-sdk-server:
        enabled: true
      global:
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
      
patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 0
  - target:
      kind: StatefulSet
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 0
  - target:
      kind: DaemonSet
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 0
