apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./manifests/certificate.yaml
  - ./manifests/secretstore.yaml

generators:
  - ./manifests/secret-generator.yaml

helmCharts:
  - name: external-secrets
    releaseName: external-secrets
    namespace: esops
    repo: https://charts.external-secrets.io
    version: 0.18.1
    valuesInline:
      bitwarden-sdk-server:
        enabled: true
      global:
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
      