---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: maintainerr
  name: maintainerr
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: maintainerr
  template:
    metadata:
      labels:
        app: maintainerr
    spec:
      securityContext:
        fsGroup: 1000        # Group ID for volume access
        runAsUser: 1000      # User ID to run the container
        runAsGroup: 1000     # Group ID for the process
      restartPolicy: Always
      containers:
        - image: harbor.yanello.net/ghcr/maintainerr/maintainerr:2.24.0@sha256:06cb0e1f61a4909134b1c438b1bf3e8aceb447d5211e55351044840500c1c417
          imagePullPolicy: IfNotPresent
          name: maintainerr
          ports:
            - containerPort: 6246
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /
              port: 6246
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 6246
            initialDelaySeconds: 60
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            limits:
              cpu: 250m
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 1Gi
          volumeMounts:
            - mountPath: /opt/data
              name: maintainerr-config
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: maintainerr-config
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: longhorn
        resources:
          requests:
            storage: 100Mi
