apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# resources:
 # - manifests/collector.yaml
 # - manifests/rbac.yaml

helmCharts:
  - name: opentelemetry-collector
    releaseName: opentelemetry-collector
    namespace: monitoring
    repo: https://open-telemetry.github.io/opentelemetry-helm-charts
    version: "0.142.1"
    valuesFile: values.yaml