---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - ./secret-generator.yaml

helmCharts:
  - name: harbor
    namespace: harbor-dev
    releaseName: harbor
    repo: oci://harbor.yanello.net/library/harbor-helm
    version: "1.4.0-myan"
    valuesFile: ./values.yaml
