apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
 - ./manifests/httpRoute.yaml
 - ./manifests/dashboards
 - ./manifests/vmscrape

generators:
  - ./manifests/secrets/secret-generator.yaml

helmCharts:
 - name: victoria-metrics-k8s-stack
   releaseName: victoria-metrics-k8s-stack
   namespace: monitoring
   repo: https://victoriametrics.github.io/helm-charts/
   version: "0.67.0"
   valuesFile: values.yaml
