victoria-metrics-operator:

vmalert:
  enabled: true

vmagent:
  enabled: true
  spec:
    extraArgs:
      promscrape.maxScrapeSize: "32MB"
    resources:
      requests:
        cpu: 150m
        memory: 500Mi
      limits:
        memory: 8Gi


vmsingle:
  enabled: true
  spec:
    retentionPeriod: 365d
    storage:
      storageClassName: "truenas-hdd"
      resources:
        requests:
          storage: 250Gi
    insertPorts:
      influxPort: "8086"
    extraEnvs:
      - name: search_cacheTimestampOffset
        value: "10000h"
      - name: search_cacheMaxAge
        value: "360d"
      - name: influx_databaseNames
        value: "home"
    extraArgs:
      maxLabelsPerTimeseries: "500"
      storage.minFreeDiskSpaceBytes: "10GB"
    serviceSpec:
      spec:
        type: LoadBalancer
        loadBalancerIP: 10.10.8.10
    resources:
      requests:
        cpu: 150m
        memory: 4Gi
      limits:
        memory: 16Gi

defaultDashboards:
  annotations:
    argocd.argoproj.io/sync-options: ServerSideApply=true
  node-exporter-full:
    enabled: true

grafana:
  sidecar:
    dashboards:
      enabled: true
      maxTotalRetries: 10
      maxConnectRetries: 20
      maxReadRetries: 10
  admin:
    existingSecret: grafana-secrets
    userKey: grafana-admin-user
    passwordKey: grafana-admin-password
  envFromSecrets:
    - name: grafana-env-secrets
    - name: influx-secrets
  env:
    GF_AUTH_GENERIC_OAUTH_ENABLED: 'true'
    GF_AUTH_GENERIC_OAUTH_NAME: 'authentik'
    GF_AUTH_GENERIC_OAUTH_SCOPES: 'openid profile email'
    GF_AUTH_OAUTH_AUTO_LOGIN: 'true'
    GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(groups, 'admin') && 'Admin' || contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'"
    GF_SERVER_ROOT_URL: 'https://grafana.yanello.net'
  plugins:
    - victoriametrics-logs-datasource
    - marcusolsson-hourly-heatmap-panel
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: VictoriaLogs
        type: victoriametrics-logs-datasource
        url: http://victoria-logs-single-server.monitoring.svc.cluster.local:9428
      - name: Garmin-InfluxDB
        uid: garmin_influxdb
        type: influxdb
        access: proxy
        url: http://influxdb.monitoring.svc.cluster.local:8086
        user: "${influxdb-user}"
        database: GarminStats
        secureJsonData:
          password: $influxdb-password
        jsonData:
          httpMode: GET
      - name: Iota-InfluxDB
        uid: DS_GARMIN_STATS
        type: influxdb
        access: proxy
        url: http://influxdb.monitoring.svc.cluster.local:8086
        user: "${influxdb-user}"
        database: home
        secureJsonData:
          password: $influxdb-password
        jsonData:
          httpMode: GET
