ui = true
disable_mlock = false

api_addr     = "https://{{ vault_hostname }}:8200"
cluster_addr = "https://{{ hostvars[inventory_hostname].ansible_host }}:8201"

listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "{{ vault_tls_dir }}/tls.crt"
  tls_key_file  = "{{ vault_tls_dir }}/tls.key"
}

storage "raft" {
  path    = "{{ vault_data_dir }}"
  node_id = "{{ inventory_hostname }}"
}

seal "ocikms" {
  auth_type_api_key   = "true"
  crypto_endpoint     = "{{ vault_ocikms_crypto_endpoint }}"
  management_endpoint = "{{ vault_ocikms_management_endpoint }}"
  key_id              = "{{ vault_ocikms_seal_key_id }}"
}
