apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./manifests/vs.yaml
  - ./manifests/http-route.yaml

generators:
  - ./manifests/secret-generator.yaml

replicas:
  - name: authentik-postgresql
    count: 1

helmCharts:
  - name: authentik
    namespace: authentik
    releaseName: authentik
    repo: https://charts.goauthentik.io/
    version: "2025.12.2"
    valuesFile: ./manifests/values.yaml
