deploymentMode: SingleBinary

loki:
  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
  ruler:
    enable_api: true
backend:
  replicas: 0
  persistence:
    storageClass: truenas-hdd-nfs
read:
  replicas: 0
write:
  replicas: 0 # To ensure data durability with replication
  persistence:
    storageClass: truenas-hdd-nfs
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

# Enable minio for storage
minio:
  enabled: true
  persistence:
    storageClass: truenas-hdd-nfs

gateway:
  service:
    type: LoadBalancer

ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
